<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>Editing Book</h2>
<%= form_with model: @book  do |f| %>
  <h5>Title</h5>
  <%= f.text_field :title,autofocus: true %>
  <h5>Opinion</h5>
  <%= f.text_area :body %>
  <div><%= f.submit "Update Book" %></div>
  <p><%= link_to "Show",book_path %> | <%= link_to "Back",books_path %></p>
<% end %>